@using HookaTimes.DAL.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager;
@if (!SignInManager.IsSignedIn(User))
{
    @model EmailSignInMVC_VM
}
@{
    var buddy = (NavBuddy_VM)ViewBag.Buddy;
    var cart = (CartSummary_VM)ViewBag.CartSummary;
}
<style>

    .account-menu__user {
    overflow: auto;
}

    .nav-panel__logo{
        width: 8em;
    }

    .h-menu {
        z-index: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navigation-center-items {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex: 0 0 auto;
    }

    .contact-button:hover {
        color: #000 !important;
    }



    .navigation-item {
        margin-right: 1.2em;
        margin-left: 1.2em;
        padding: 1em 1.2em;
        font-size: 0.94em;
        line-height: 1.22;
        font-weight: 500;
    }

        .navigation-item.w--current {
            padding-bottom: 0.15em;
            border-bottom: 0.2em solid #fdcf51;
        }

    .navigation-item_text {
        margin-right: -1.2em;
        margin-left: -1.2em;
        color: #000;
    }

    .contact-button {
        border-color: #fdcf51;
        margin-right: 3em;
        padding: 0.8em;
        background-color: #fdcf51;
        -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
        transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
        color: #000;
        text-decoration: none;
    }

    .button-text {
        font-size: 0.94em;
    }

    .nav-panel__indicators {
        align-items: center;
    }

        .account-menu__user-avatar.img {
    width: 44px;
    height:44px;
}
   .account-menu__user-avatar {
    width: 44px;
    height: 44px;}


</style>

<div class="dropcart__product" style="display:none">
    <div class="product-image dropcart__product-image">
        <a href="product.html" class="product-image__body">
            <img class="product-image__img cart-product-img" src="" alt="">
        </a>
    </div>
    <div class="dropcart__product-info">
        <div class="dropcart__product-name"><a href="product.html"></a></div>
        <ul class="dropcart__product-options">
            <li></li>
            @*                                                                    <li>Material: Aluminium</li>
            *@
        </ul>
        <div class="dropcart__product-meta">
            <span class="dropcart__product-quantity"></span> ×
            <span class="dropcart__product-price"> </span>
        </div>
    </div>
    <button type="button" class="dropcart__product-remove btn btn-light btn-sm btn-svg-icon">
        <svg width="10px" height="10px">
            <use xlink:href="/FrontendAssets/images/sprite.svg#cross-10"></use>
        </svg>
    </button>
</div>

<div class="site-header__nav-panel">
    <!-- data-sticky-mode - one of [pullToShow, alwaysOnTop] -->
    <div class="nav-panel nav-panel--sticky" data-sticky-mode="pullToShow">
        <div class="nav-panel__container container">
            <div class="nav-panel__row">
                <div class="nav-panel__logo">
                    <a href="/">
                        <!-- logo -->
                        <img style=" height:100%; width:100% ; " src="~/FrontendAssets/images/svg/hooka logo.svg" />
                        <!-- logo / end -->
                    </a>
                </div>
                <!-- .nav-links -->
                <div class="h-menu">
                    <nav role="navigation" class="navigation-center-items w-nav-menu">

                        <a href="/" aria-current="page" class="navigation-item w-inline-block w--current LinkHome MenuLink">
                            <div class="navigation-item_text">Home</div>
                        </a>
                        <a asp-action="HookaProducts" asp-controller="home" class="navigation-item w-inline-block MenuLink LinkProducts">
                            <div class="navigation-item_text">Products</div>
                        </a>
                        <a asp-action="hookaplaces" asp-controller="home" class="navigation-item w-inline-block LinkHookaPlaces MenuLink">
                            <div class="navigation-item_text">Hooka Places</div>
                        </a>
                        <a asp-controller="BecomeAPartner" asp-action="Index" class="navigation-item w-inline-block LinkBecameAPartner MenuLink">
                            <div class="navigation-item_text">Become a Partner</div>
                        </a>
                        <a asp-controller="Careers" asp-action="Index" class="navigation-item w-inline-block LinkCareers MenuLink">
                            <div class="navigation-item_text">Careers</div>
                        </a>

                    </nav>
                </div>


                <!-- .nav-links / end -->
                <div class="nav-panel__indicators">

                    <a asp-controller="Home" asp-action="HookaBuddies" class="contact-button w-inline-block"><div class="button-text">Hooka Buddy</div></a>

                    <div class="indicator">
                        <a asp-controller="Wishlist" asp-action="Index" class="indicator__button">
                            <span class="indicator__area">
                                <svg xmlns="http://www.w3.org/2000/svg" width="27.954" height="25.959" viewBox="0 0 27.954 25.959">
                                    <path id="Path_28" data-name="Path 28" d="M3317.794,87.587c-5.289-2.942-13.555-10.584-13.216-17.371.35-7.012,9.327-10,13.216-2.691,3.89-7.306,12.867-4.321,13.217,2.691C3331.35,77,3323.084,84.645,3317.794,87.587Z" transform="translate(-3303.817 -62.486)" fill="none" stroke="#231f20" stroke-miterlimit="10" stroke-width="1.5" fill-rule="evenodd" />
                                </svg>
                                <span class="indicator__value wishlist-indicator-value">@ViewBag.WishlistCount</span>
                            </span>
                        </a>
                    </div>
                    <div class="indicator indicator--trigger--click" id="navbar-cart-container">
                        <a asp-controller="Cart" asp-action="Index" id="cart-indicator-btn" class="indicator__button">
                            <span class="indicator__area">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 60.457 51.515">
                                    <g id="Group_3" data-name="Group 3" transform="translate(-226.219 -38.291)">
                                        <path id="Path_9" data-name="Path 9" d="M285.884,48.548H241.827l-.973-3.637a8.855,8.855,0,0,0-8.623-6.62h-5.22a.793.793,0,0,0-.792.792v.775a.793.793,0,0,0,.792.792h5.22a6.477,6.477,0,0,1,6.348,4.868l5.411,20.194a8.858,8.858,0,0,0,8.623,6.62h27.056a.794.794,0,0,0,.793-.793v-.774a.794.794,0,0,0-.793-.793H252.613a6.474,6.474,0,0,1-6.349-4.868l-.813-3.039h36.968a.793.793,0,0,0,.792-.792V60.5a.793.793,0,0,0-.792-.792h-37.6l-2.358-8.8h43.424a.793.793,0,0,0,.792-.792V49.34A.793.793,0,0,0,285.884,48.548Z" fill="#040505" />
                                        <path id="Path_10" data-name="Path 10" d="M277.756,79.776a5.869,5.869,0,1,0,1.72,4.155A5.838,5.838,0,0,0,277.756,79.776Zm-1.5,6.818a3.761,3.761,0,1,1,1.105-2.663A3.73,3.73,0,0,1,276.257,86.594Z" fill="#040505" />
                                        <path id="Path_11" data-name="Path 11" d="M253.126,78.055a5.876,5.876,0,1,0,4.155,1.721A5.87,5.87,0,0,0,253.126,78.055Zm2.657,8.539a3.761,3.761,0,1,1,1.1-2.663A3.735,3.735,0,0,1,255.783,86.594Z" fill="#040505" />
                                    </g>
                                </svg>

                                <span class="indicator__value cart-indicator-value">@cart.Items.Count</span>
                            </span>
                        </a>
                        <div class="indicator__dropdown">
                            <!-- .dropcart -->
                            <div class="dropcart dropcart--style--dropdown">


                                <div class="dropcart__body">
                                    @if (cart.Items.Count == 0)
                                    {
                                        <div class="block-empty__body">
                                            <div class="block-empty__message">Your shopping cart is empty!</div>
                                            <div class="block-empty__actions">
                                                <a class="btn btn-primary btn-sm" asp-controller="Home" asp-action="HookaProducts">View Products</a>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="dropcart__products-list">
                                            @foreach (var item in cart.Items)
                                            {
                                                <div class="dropcart__product">
                                                    <div class="product-image dropcart__product-image">
                                                        <a asp-controller="Homr" asp-action="Product" asp-route-id="@item.CategoryId" class="product-image__body">
                                                            <img class="product-image__img cart-product-img" src="@item.ProductImage" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="dropcart__product-info">
                                                        <div class="dropcart__product-name"><a asp-controller="Home" asp-action="Product" asp-route-id="@item.CategoryId" class="category-name">@item.CategoryName</a></div>
                                                        <ul class="dropcart__product-options">
                                                            <li class="prod-name">@item.ProductName</li>
                                                            @*                                                                    <li>Material: Aluminium</li>
                                                    *@
                                                        </ul>
                                                        <div class="dropcart__product-meta">
                                                            <span class="dropcart__product-quantity">@item.Quantity</span> ×
                                                            <span class="dropcart__product-price">@item.ProductPrice AED</span>
                                                        </div>
                                                    </div>
                                                    <button data-productId="@item.ItemId" type="button" class="remove-product-dropcart dropcart__product-remove btn btn-light btn-sm btn-svg-icon">
                                                        <svg data-productId="@item.ItemId" class="remove-product-dropcart" width="10px" height="10px">
                                                            <use data-productId="@item.ItemId" class="remove-product-dropcart" xlink:href="/FrontendAssets/images/sprite.svg#cross-10"></use>
                                                        </svg>
                                                    </button>
                                                </div>
                                            }


                                        </div>
                                        <div class="dropcart__totals">
                                            <table>
                                                @*       <tr>
                                            <th>Subtotal</th>
                                            <td>450 AED</td>
                                            </tr>
                                            <tr>
                                            <th>Delivery</th>
                                            <td>10 AED</td>
                                            </tr>*@
                                                @* <tr>
                                            <th>Tax</th>
                                            <td>$0.00</td>
                                            </tr>*@
                                                <tr>
                                                    <th>Total</th>
                                                    <td id="dropcart-total-value">@cart.TotalPrice AED</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="dropcart__buttons">
                                            <a class="btn btn-secondary" asp-controller="Cart" asp-action="Index">View Cart</a>
                                            <a class="btn btn-primary" asp-controller="Checkout" asp-action="Index">Checkout</a>
                                        </div>
                                    }

                                </div>


                            </div>
                            <!-- .dropcart / end -->
                        </div>
                    </div>
                    <div class="indicator indicator--trigger--click">
                        <a href="account-login.html" class="indicator__button">
                            <span class="indicator__area">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 48.187 53.793">
                                    <g id="Group_1" data-name="Group 1" transform="translate(-23.637 -36.013)">
                                        <path id="Path_1" data-name="Path 1" d="M67.007,89.806H28.454a4.822,4.822,0,0,1-4.817-4.816V76.618A12.174,12.174,0,0,1,35.8,64.458H59.664a12.174,12.174,0,0,1,12.16,12.16V84.99A4.822,4.822,0,0,1,67.007,89.806ZM35.8,66.748a9.882,9.882,0,0,0-9.87,9.87V84.99a2.529,2.529,0,0,0,2.527,2.527H67.007a2.529,2.529,0,0,0,2.527-2.527V76.618a9.882,9.882,0,0,0-9.87-9.87Z" fill="#040505" />
                                        <path id="Path_2" data-name="Path 2" d="M47.731,62.169A13.078,13.078,0,1,1,60.808,49.091,13.092,13.092,0,0,1,47.731,62.169Zm0-23.866A10.788,10.788,0,1,0,58.519,49.091,10.8,10.8,0,0,0,47.731,38.3Z" fill="#040505" />
                                    </g>
                                </svg>
                            </span>
                        </a>
                        <div class="indicator__dropdown">
                            <div class="account-menu">
                                @if (!SignInManager.IsSignedIn(User))
                                {
                                    <form class="account-menu__form" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form">
                                        <div class="account-menu__form-title">Log In to Your Account</div>
                                        <div class="form-group">
                                            <label for="header-signin-email" asp-for="Email" class="sr-only">Email address</label>
                                            <input id="header-signin-email" type="email" asp-for="Email" class="form-control form-control-sm" placeholder="Email address">
                                            <span asp-validation-for="Email" class="text-danger"></span>

                                        </div>
                                        <div class="form-group">
                                            <label for="header-signin-password" asp-for="Password" class="sr-only">Password</label>
                                            <div class="account-menu__form-forgot">
                                                <input asp-for="Password" id="header-signin-password" type="password" class="form-control form-control-sm" placeholder="Password">
                                                <span asp-validation-for="Password" class="text-danger"></span>

                                                <a href="" class="account-menu__form-forgot-link">Forgot?</a>

                                            </div>
                                        </div>
                                        <div class="form-group account-menu__form-button">
                                            <button type="submit" id="btnLogin" class="btn btn-primary btn-sm">Login</button>
                                        </div>
                                        <div class="account-menu__form-link"><a asp-controller="Account" asp-action="SignUp">Create An Account</a></div>
                                    </form>
                                }


                                else
                                {


                                    <div class="account-menu__divider"></div>
                                    <a asp-controller="Account" asp-action="UserBuddyProfile" class="account-menu__user">
                                        <div class="account-menu__user-avatar">
                                            @*<img src="~/FrontendAssets/images/avatars/avatar-3.jpg" alt="">*@
                                            <img src="@buddy.Image" alt="" class="account-menu__user-avatar img">
                                        </div>
                                        <div class="account-menu__user-info">
                                            <div class="account-menu__user-name">@buddy.FirstName</div>
                                            <div class="account-menu__user-email">@buddy.Email</div>
                                        </div>
                                    </a>
                                    <div class="account-menu__divider"></div>
                                    <ul class="account-menu__links">
                                        <li><a asp-controller="Account" asp-action="EditProfile">Edit Profile</a></li>
                                        <li><a asp-controller="Account" asp-action="Invitations">Invitations</a></li>
                                        <li><a asp-controller="Account" asp-action="Favorites">Favorites</a></li>
                                        <li><a asp-controller="Account" asp-action="OrderHistory">Order History</a></li>
                                        @*<li><a asp-controller="Account" asp-action="Addresses">Addresses</a></li>*@
                                        <li><a asp-controller="Account" asp-action="Password">Password</a></li>

                                    </ul>
                                    <div class="account-menu__divider"></div>
                                    <form id="logoutForm" method="post" asp-controller="Account" asp-action="Logout">
                                        <ul class="account-menu__links">
                                            <li style="cursor:pointer"><a id="logoutbtn">Logout</a></li>
                                        </ul>

                                    </form>
                                    @* <ul class="account-menu__links">
                                <li><a>Logout</a></li>
                                </ul>*@
                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

}