@model Product_VM

<div class="block-products__list-item ">
    <div class="product-card product-card--hidden-actions ">
        <div class="product-card__buttons">
            <button data-productId="@Model.Id" style="padding:1.5em;" class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist add-to-cart-btn" type="button">
                <svg data-productId="@Model.Id" xmlns="http://www.w3.org/2000/svg" width="2.3em" height="2.3em" viewBox="0 0 36.242 28.383">
                    <g data-productId="@Model.Id" id="Group_28" data-name="Group 28" transform="translate(-3361.077 -60.856)">
                        <path id="Path_27" data-productId="@Model.Id" data-name="Path 27" d="M3396.975,65.154a.569.569,0,0,0-.447-.216h-27.885l-.779-3.419a.568.568,0,0,0-.554-.443h-5.443a.569.569,0,1,0,0,1.138h4.988l4.624,20.3a.569.569,0,0,0,.555.443h1.525a3.6,3.6,0,1,0,5.247,0h7.087a3.6,3.6,0,1,0,5.248,0h1.638a.57.57,0,0,0,0-1.139h-20.291l-.817-3.586h21.93a.569.569,0,0,0,.553-.436l2.927-12.159A.573.573,0,0,0,3396.975,65.154ZM3378.643,85.42a2.461,2.461,0,1,1-2.461-2.46A2.464,2.464,0,0,1,3378.643,85.42Zm12.335,0a2.461,2.461,0,1,1-2.461-2.46A2.464,2.464,0,0,1,3390.978,85.42ZM3379.513,77.1l-.841-4.941h7.215l-.877,4.941Zm-1.034-6.08-.842-4.941h9.328l-.876,4.941Zm-2-4.941.841,4.941h-7.3l-1.126-4.941Zm-6.2,6.08h7.231l.841,4.941h-6.947Zm22.865,4.941h-6.986l.877-4.941h7.3Zm1.464-6.08h-7.371l.876-4.941h7.684Z" fill="#030404" stroke="#030404" stroke-miterlimit="10" stroke-width="0.44"></path>
                    </g>
                </svg>
            </button>
            <button class="btn btn-secondary product-card__addtocart product-card__addtocart--list" type="button">Add To Cart</button>
            <button data-productId="@Model.Id" style="padding:1.5em;" class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist add-to-wishlist-btn" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 27.954 25.959">
                    <path id="Path_28" class="wishlist-icon" data-name="Path 28" d="M3317.794,87.587c-5.289-2.942-13.555-10.584-13.216-17.371.35-7.012,9.327-10,13.216-2.691,3.89-7.306,12.867-4.321,13.217,2.691C3331.35,77,3323.084,84.645,3317.794,87.587Z" transform="translate(-3303.817 -62.486)" fill="none" stroke="#231f20" stroke-miterlimit="10" stroke-width="1.5"  style="fill: @((bool)Model.IsInWishlist ? "red" : "none")" fill-rule="evenodd"></path>
                </svg>
            </button>
            <button style="padding:1.5em;" class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 28.098 29.753">
                    <path id="Path_31" data-name="Path 31" d="M2737.652,1473.083a5.135,5.135,0,0,0-2.312.548,5.17,5.17,0,0,0-.972.636,5.23,5.23,0,0,0-.8.83l-1.983-1.107-1.983-1.108-1.984-1.108-1.983-1.107c.047-.134.088-.27.124-.408s.066-.279.09-.421.043-.287.055-.433.019-.293.019-.441-.006-.3-.019-.444-.031-.291-.056-.433-.055-.283-.092-.421-.078-.276-.126-.411l1.981-1.106,1.982-1.106,1.981-1.106,1.982-1.107a5.152,5.152,0,0,0,.8.836,5.239,5.239,0,0,0,.973.639,5.162,5.162,0,1,0-2.842-4.61c0,.149.006.3.018.445s.032.291.056.434.056.283.092.422.079.274.127.407l-1.98,1.107-1.98,1.106-1.98,1.106-1.98,1.106a5.153,5.153,0,0,0-6.1-1.62,5.193,5.193,0,0,0-2.749,2.748,5.157,5.157,0,0,0,0,4.016,5.17,5.17,0,0,0,5.972,3.01,5.118,5.118,0,0,0,1.109-.409,5.225,5.225,0,0,0,1.781-1.479l1.982,1.107,1.981,1.108,1.982,1.108,1.981,1.108c-.048.134-.09.272-.128.412s-.068.281-.094.425-.045.29-.058.437-.02.3-.02.446a5.159,5.159,0,0,0,8.812,3.649,5.145,5.145,0,0,0,1.513-3.649,5.127,5.127,0,0,0-.407-2.008,5.169,5.169,0,0,0-4.761-3.154Z" transform="translate(-2715.161 -1454.093)" fill="none" stroke="#231f20" stroke-miterlimit="10" stroke-width="0.878"></path>
                </svg>
            </button>
        </div> <div class="product-card__image product-image is--featured">
            <a asp-controller="Home" asp-action="Product" asp-route-id="@Model.CategoryId" class="product-image__body">
                <img class="product-image__img is--featured" src="@Model.Image" alt="">
            </a>
        </div>
        <div class="product-card__info">
            <div class="product-card__name">
                <a href="#">@Model.Title</a>
            </div>
            <div class="product-card__prices"> @Model.CustomerInitialPrice </div>
        </div>
    </div>
</div>
