@using HookaTimes.DAL.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager;

@model HookaPlaces_VM
<div class="block-products__list-item">
    <div class="product-card product-card--hidden-actions custom-hooka-card">
        <div class="product-card__buttons custom-hooka-card-buttons">
            <div class="rate-card_wrap">
                <div class="rate-number">@Model.Rating</div><img src="https://uploads-ssl.webflow.com/62d93fe56471ce4a6284ae8f/62da8798e440ccaf8af1e3d3_Path%2036.svg" loading="lazy" alt="" class="rate-icon">
            </div>
            @if (SignInManager.IsSignedIn(User)) {
                <button data-placeId="@Model.Id" style="padding:1.5em;" class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist add-to-favorite-btn" type="button">
                    <svg data-placeId="@Model.Id" class="add-to-favorite-btn" xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 27.954 25.959">
                        <path class="favorite-icon add-to-favorite-btn" data-placeId="@Model.Id" id="Path_28" data-name="Path 28" d="M3317.794,87.587c-5.289-2.942-13.555-10.584-13.216-17.371.35-7.012,9.327-10,13.216-2.691,3.89-7.306,12.867-4.321,13.217,2.691C3331.35,77,3323.084,84.645,3317.794,87.587Z" transform="translate(-3303.817 -62.486)" fill="@(Model.IsInFavorite ? "red" : "none")" stroke="#231f20" stroke-miterlimit="10" stroke-width="1.5" fill-rule="evenodd" />
                    </svg>
                </button>
            }
         
            <button style="padding:1.5em;" class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 28.098 29.753">
                    <path id="Path_31" data-name="Path 31" d="M2737.652,1473.083a5.135,5.135,0,0,0-2.312.548,5.17,5.17,0,0,0-.972.636,5.23,5.23,0,0,0-.8.83l-1.983-1.107-1.983-1.108-1.984-1.108-1.983-1.107c.047-.134.088-.27.124-.408s.066-.279.09-.421.043-.287.055-.433.019-.293.019-.441-.006-.3-.019-.444-.031-.291-.056-.433-.055-.283-.092-.421-.078-.276-.126-.411l1.981-1.106,1.982-1.106,1.981-1.106,1.982-1.107a5.152,5.152,0,0,0,.8.836,5.239,5.239,0,0,0,.973.639,5.162,5.162,0,1,0-2.842-4.61c0,.149.006.3.018.445s.032.291.056.434.056.283.092.422.079.274.127.407l-1.98,1.107-1.98,1.106-1.98,1.106-1.98,1.106a5.153,5.153,0,0,0-6.1-1.62,5.193,5.193,0,0,0-2.749,2.748,5.157,5.157,0,0,0,0,4.016,5.17,5.17,0,0,0,5.972,3.01,5.118,5.118,0,0,0,1.109-.409,5.225,5.225,0,0,0,1.781-1.479l1.982,1.107,1.981,1.108,1.982,1.108,1.981,1.108c-.048.134-.09.272-.128.412s-.068.281-.094.425-.045.29-.058.437-.02.3-.02.446a5.159,5.159,0,0,0,8.812,3.649,5.145,5.145,0,0,0,1.513-3.649,5.127,5.127,0,0,0-.407-2.008,5.169,5.169,0,0,0-4.761-3.154Z" transform="translate(-2715.161 -1454.093)" fill="none" stroke="#231f20" stroke-miterlimit="10" stroke-width="0.878" />
                </svg>
            </button>
        </div>
        <div class="post-card__image">
            <a asp-action="Place" asp-controller="Places" asp-route-id="@Model.Id" class="product-image__body">
                <img class="product-image__img" src="@Model.Image" alt="">
            </a>
        </div>
        <div class="post-card__info">
            <div class="post-card__name">
                <a href="#">@Model.Name</a>
            </div>
            <div class="post-card__content is--cuisines"> @Model.Cuisine </div>
            <div class="post-card__content is--location"> @Model.Location </div>
        </div>
    </div>
</div>
