<div class="d-flex flex-column gap-7 gap-lg-10">
    <div class="d-flex flex-wrap flex-stack gap-5 gap-lg-10">
        <!--begin:::Tabs-->
        <ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-semibold mb-lg-n2 me-auto">
            <!--begin:::Tab item-->
            <li class="nav-item">
                <a class="nav-link text-active-primary pb-4 active" data-bs-toggle="tab" href="#kt_ecommerce_sales_order_summary">Order Summary</a>
            </li>
            <!--end:::Tab item-->

        </ul>
        <!--end:::Tabs-->
        <!--begin::Button-->
        <a asp-area="Admin" asp-controller="Sales" asp-action="Index" class="btn btn-icon btn-light btn-sm ms-auto me-lg-n7">
            <!--begin::Svg Icon | path: icons/duotune/arrows/arr074.svg-->
            <span class="svg-icon svg-icon-2">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.2657 11.4343L15.45 7.25C15.8642 6.83579 15.8642 6.16421 15.45 5.75C15.0358 5.33579 14.3642 5.33579 13.95 5.75L8.40712 11.2929C8.01659 11.6834 8.01659 12.3166 8.40712 12.7071L13.95 18.25C14.3642 18.6642 15.0358 18.6642 15.45 18.25C15.8642 17.8358 15.8642 17.1642 15.45 16.75L11.2657 12.5657C10.9533 12.2533 10.9533 11.7467 11.2657 11.4343Z" fill="currentColor" />
                </svg>
            </span>
            <!--end::Svg Icon-->
        </a>
        <!--end::Button-->
        @*        <!--begin::Button-->
            <a href="../../demo1/dist/apps/ecommerce/sales/edit-order.html" class="btn btn-success btn-sm me-lg-n7">Edit Order</a>
            <!--end::Button-->*@
    </div>
    <!--begin::Order summary-->
    <div class="d-flex flex-column flex-xl-row gap-7 gap-lg-10">
        <!--begin::Order details-->
        <div class="card card-flush py-4 flex-row-fluid">
            <!--begin::Card header-->
            <div class="card-header">
                <div class="card-title">
                    <h2>Order Details (#14534)</h2>
                </div>
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body pt-0">
                <div class="table-responsive">
                    <!--begin::Table-->
                    <table class="table align-middle table-row-bordered mb-0 fs-6 gy-5 min-w-300px">
                        <!--begin::Table body-->
                        <tbody class="fw-semibold text-gray-600">
                            <!--begin::Date-->
                            <tr>
                                <td class="text-muted">
                                    <div class="d-flex align-items-center">
                                        <!--begin::Svg Icon | path: icons/duotune/files/fil002.svg-->
                                        @Html.Raw(KTTheme.getSvgIcon("duotune/files/fil002.svg","svg-icon svg-icon-2 me-2"))

                                        <!--end::Svg Icon-->Date Added
                                    </div>
                                </td>
                                <td class="fw-bold text-end">05/07/2022</td>
                            </tr>
                            <!--end::Date-->
                            <!--begin::Payment method-->
                            <tr>
                                <td class="text-muted">
                                    <div class="d-flex align-items-center">
                                        <!--begin::Svg Icon | path: icons/duotune/finance/fin008.svg-->
                                        @Html.Raw(KTTheme.getSvgIcon("duotune/finance/fin008.svg","svg-icon svg-icon-2 me-2"))

                                        <!--end::Svg Icon-->Payment Method
                                    </div>
                                </td>
                                <td class="fw-bold text-end">
                                    Online
                                    <img src="~/AdminAssets/assets/media/svg/card-logos/visa.svg" class="w-50px ms-2" />
                                </td>
                            </tr>
                            <!--end::Payment method-->
                            <!--begin::Date-->
                            <tr>
                                <td class="text-muted">
                                    <div class="d-flex align-items-center">
                                        <!--begin::Svg Icon | path: icons/duotune/ecommerce/ecm006.svg-->
                                        @Html.Raw(KTTheme.getSvgIcon("duotune/ecommerce/ecm006.svg","svg-icon svg-icon-2 me-2"))

                                        <!--end::Svg Icon-->Shipping Method
                                    </div>
                                </td>
                                <td class="fw-bold text-end">Flat Shipping Rate</td>
                            </tr>
                            <!--end::Date-->
                        </tbody>
                        <!--end::Table body-->
                    </table>
                    <!--end::Table-->
                </div>
            </div>
            <!--end::Card body-->
        </div>
        <!--end::Order details-->
        <!--begin::Customer details-->
        <div class="card card-flush py-4 flex-row-fluid">
            <!--begin::Card header-->
            <div class="card-header">
                <div class="card-title">
                    <h2>Customer Details</h2>
                </div>
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body pt-0">
                <div class="table-responsive">
                    <!--begin::Table-->
                    <table class="table align-middle table-row-bordered mb-0 fs-6 gy-5 min-w-300px">
                        <!--begin::Table body-->
                        <tbody class="fw-semibold text-gray-600">
                            <!--begin::Customer name-->
                            <tr>
                                <td class="text-muted">
                                    <div class="d-flex align-items-center">
                                        <!--begin::Svg Icon | path: icons/duotune/communication/com006.svg-->
                                        @Html.Raw(KTTheme.getSvgIcon("duotune/communication/com006.svg","svg-icon svg-icon-2 me-2"))

                                        <!--end::Svg Icon-->Customer
                                    </div>
                                </td>
                                <td class="fw-bold text-end">
                                    <div class="d-flex align-items-center justify-content-end">
                                        <!--begin:: Avatar -->
                                        <div class="symbol symbol-circle symbol-25px overflow-hidden me-3">
                                            <a href="#">
                                                <div class="symbol-label">
                                                    <img src="~/AdminAssets/assets/media/avatars/300-23.jpg" alt="Dan Wilson" class="w-100" />
                                                </div>
                                            </a>
                                        </div>
                                        <!--end::Avatar-->
                                        <!--begin::Name-->
                                        <a href="#" class="text-gray-600 text-hover-primary">Dan Wilson</a>
                                        <!--end::Name-->
                                    </div>
                                </td>
                            </tr>
                            <!--end::Customer name-->
                            <!--begin::Customer email-->
                            <tr>
                                <td class="text-muted">
                                    <div class="d-flex align-items-center">
                                        <!--begin::Svg Icon | path: icons/duotune/communication/com011.svg-->
                                        @Html.Raw(KTTheme.getSvgIcon("duotune/ommunication/com011.svg","svg-icon svg-icon-2 me-2"))

                                        <!--end::Svg Icon-->Email
                                    </div>
                                </td>
                                <td class="fw-bold text-end">
                                    <a href="#" class="text-gray-600 text-hover-primary">dam@consilting.com</a>
                                </td>
                            </tr>
                            <!--end::Payment method-->
                            <!--begin::Date-->
                            <tr>
                                <td class="text-muted">
                                    <div class="d-flex align-items-center">
                                        <!--begin::Svg Icon | path: icons/duotune/electronics/elc003.svg-->
 
                                        @Html.Raw(KTTheme.getSvgIcon("duotune/electronics/elc003.svg","svg-icon svg-icon-2 me-2"))

                                        <!--end::Svg Icon-->Phone
                                    </div>
                                </td>
                                <td class="fw-bold text-end">+6141 234 567</td>
                            </tr>
                            <!--end::Date-->
                        </tbody>
                        <!--end::Table body-->
                    </table>
                    <!--end::Table-->
                </div>
            </div>
            <!--end::Card body-->
        </div>
        <!--end::Customer details-->
        <!--begin::Documents-->
        <div class="card card-flush py-4 flex-row-fluid">
            <!--begin::Card header-->
            <div class="card-header">
                <div class="card-title">
                    <h2>Distributor Details</h2>
                </div>
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body pt-0">
                <div class="table-responsive">
                    <!--begin::Table-->
                    <table class="table align-middle table-row-bordered mb-0 fs-6 gy-5 min-w-300px">
                        <!--begin::Table body-->
                        <tbody class="fw-semibold text-gray-600">
                            <!--begin::Customer name-->
                            <tr>
                                <td class="text-muted">
                                    <div class="d-flex align-items-center">
                                        <!--begin::Svg Icon | path: icons/duotune/communication/com006.svg-->
                                        @Html.Raw(KTTheme.getSvgIcon("duotune/communication/com006.svg","svg-icon svg-icon-2 me-2"))
                                        <!--end::Svg Icon-->Distributor
                                    </div>
                                </td>
                                <td class="fw-bold text-end">
                                    <div class="d-flex align-items-center justify-content-end">
                                        <!--begin:: Avatar -->
                                        <div class="symbol symbol-circle symbol-25px overflow-hidden me-3">
                                            <a href="#">
                                                <div class="symbol-label">
                                                    <img src="~/AdminAssets/assets/media/avatars/300-23.jpg" alt="Dan Wilson" class="w-100" />
                                                </div>
                                            </a>
                                        </div>
                                        <!--end::Avatar-->
                                        <!--begin::Name-->
                                        <a asp-area="Admin" asp-action="Distributor" asp-controller="Distributors" asp-route-id="1" class="text-gray-600 text-hover-primary">ShishaPresso Distribution</a>
                                        <!--end::Name-->
                                    </div>
                                </td>
                            </tr>
                            <!--end::Customer name-->
                            <!--begin::Customer email-->
                            <tr>
                                <td class="text-muted">
                                    <div class="d-flex align-items-center">
                                        <!--begin::Svg Icon | path: icons/duotune/communication/com011.svg-->
                                        @Html.Raw(KTTheme.getSvgIcon("duotune/communication/com011.svg","svg-icon svg-icon-2 me-2"))

                                        <!--end::Svg Icon-->Email
                                    </div>
                                </td>
                                <td class="fw-bold text-end">
                                    <a href="#" class="text-gray-600 text-hover-primary">badih@shishapresso.com</a>
                                </td>
                            </tr>
                            <!--end::Payment method-->
                            <!--begin::Date-->
                            <tr>
                                <td class="text-muted">
                                    <div class="d-flex align-items-center">
                                        <!--begin::Svg Icon | path: icons/duotune/electronics/elc003.svg-->
                                        @Html.Raw(KTTheme.getSvgIcon("duotune/communication/com006.svg","svg-icon svg-icon-2 me-2"))

                                        <!--end::Svg Icon-->Phone
                                    </div>
                                </td>
                                <td class="fw-bold text-end">+961 123 456</td>
                            </tr>
                            <!--end::Date-->
                        </tbody>
                        <!--end::Table body-->
                    </table>
                    <!--end::Table-->
                </div>
            </div>
            <!--end::Card body-->
        </div>
        <!--end::Documents-->
    </div>
    <!--end::Order summary-->
    <!--begin::Tab content-->
    <div class="tab-content">
        <!--begin::Tab pane-->
        <div class="tab-pane fade show active" id="kt_ecommerce_sales_order_summary" role="tab-panel">
            <!--begin::Orders-->
            <div class="d-flex flex-column gap-7 gap-lg-10">
                <div class="d-flex flex-column flex-xl-row gap-7 gap-lg-10">
                    <!--begin::Payment address-->
                    <div class="card card-flush py-4 flex-row-fluid overflow-hidden">
                        <!--begin::Background-->
                        <div class="position-absolute top-0 end-0 opacity-10 pe-none text-end">
                            <img src="~/AdminAssets/assets/media/icons/duotune/ecommerce/ecm001.svg" class="w-175px" />
                        </div>
                        <!--end::Background-->
                        <!--begin::Card header-->
                        <div class="card-header">
                            <div class="card-title">
                                <h2>Payment Address</h2>
                            </div>
                        </div>
                        <!--end::Card header-->
                        <!--begin::Card body-->
                        <div class="card-body pt-0">
                            Unit 1/23 Hastings Road,
                            <br />Melbourne 3000,
                            <br />Victoria,
                            <br />Australia.
                        </div>
                        <!--end::Card body-->
                    </div>
                    <!--end::Payment address-->
                    <!--begin::Shipping address-->
                    <div class="card card-flush py-4 flex-row-fluid overflow-hidden">
                        <!--begin::Background-->
                        <div class="position-absolute top-0 end-0 opacity-10 pe-none text-end">
                            <img src="~/AdminAssets/assets/media/icons/duotune/ecommerce/ecm006.svg" class="w-175px" />
                        </div>
                        <!--end::Background-->
                        <!--begin::Card header-->
                        <div class="card-header">
                            <div class="card-title">
                                <h2>Shipping Address</h2>
                            </div>
                        </div>
                        <!--end::Card header-->
                        <!--begin::Card body-->
                        <div class="card-body pt-0">
                            Unit 1/23 Hastings Road,
                            <br />Melbourne 3000,
                            <br />Victoria,
                            <br />Australia.
                        </div>
                        <!--end::Card body-->
                    </div>
                    <!--end::Shipping address-->
                </div>
                <!--begin::Product List-->
                <div class="card card-flush py-4 flex-row-fluid overflow-hidden">
                    <!--begin::Card header-->
                    <div class="card-header">
                        <div class="card-title">
                            <h2>Order #14534</h2>
                        </div>
                    </div>
                    <!--end::Card header-->
                    <!--begin::Card body-->
                    <div class="card-body pt-0">
                        <div class="table-responsive">
                            <!--begin::Table-->
                            <table class="table align-middle table-row-dashed fs-6 gy-5 mb-0">
                                <!--begin::Table head-->
                                <thead>
                                    <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                                        <th class="min-w-175px">Product</th>
                                        <th class="min-w-100px text-end">SKU</th>
                                        <th class="min-w-70px text-end">Qty</th>
                                        <th class="min-w-100px text-end">Unit Price</th>
                                        <th class="min-w-100px text-end">Total</th>
                                    </tr>
                                </thead>
                                <!--end::Table head-->
                                <!--begin::Table body-->
                                <tbody class="fw-semibold text-gray-600">
                                    <!--begin::Products-->
                                    <tr>
                                        <!--begin::Product-->
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <!--begin::Thumbnail-->
                                                <a href="#" class="symbol symbol-50px">
                                                    <span class="symbol-label" style="background-image:url('/AdminAssets/assets/media/stock/ecommerce/1.gif');"></span>
                                                </a>
                                                <!--end::Thumbnail-->
                                                <!--begin::Title-->
                                                <div class="ms-5">
                                                    <a href="#" class="fw-bold text-gray-600 text-hover-primary">Product 1</a>
                                                    <div class="fs-7 text-muted">Delivery Date: 05/07/2022</div>
                                                </div>
                                                <!--end::Title-->
                                            </div>
                                        </td>
                                        <!--end::Product-->
                                        <!--begin::SKU-->
                                        <td class="text-end">04550003</td>
                                        <!--end::SKU-->
                                        <!--begin::Quantity-->
                                        <td class="text-end">2</td>
                                        <!--end::Quantity-->
                                        <!--begin::Price-->
                                        <td class="text-end">$120.00</td>
                                        <!--end::Price-->
                                        <!--begin::Total-->
                                        <td class="text-end">$240.00</td>
                                        <!--end::Total-->
                                    </tr>
                                    <tr>
                                        <!--begin::Product-->
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <!--begin::Thumbnail-->
                                                <a href="#" class="symbol symbol-50px">
                                                    <span class="symbol-label" style="background-image:url('/AdminAssets/assets/media//stock/ecommerce/100.gif');"></span>
                                                </a>
                                                <!--end::Thumbnail-->
                                                <!--begin::Title-->
                                                <div class="ms-5">
                                                    <a href="#" class="fw-bold text-gray-600 text-hover-primary">Footwear</a>
                                                    <div class="fs-7 text-muted">Delivery Date: 05/07/2022</div>
                                                </div>
                                                <!--end::Title-->
                                            </div>
                                        </td>
                                        <!--end::Product-->
                                        <!--begin::SKU-->
                                        <td class="text-end">02472001</td>
                                        <!--end::SKU-->
                                        <!--begin::Quantity-->
                                        <td class="text-end">1</td>
                                        <!--end::Quantity-->
                                        <!--begin::Price-->
                                        <td class="text-end">$24.00</td>
                                        <!--end::Price-->
                                        <!--begin::Total-->
                                        <td class="text-end">$24.00</td>
                                        <!--end::Total-->
                                    </tr>
                                    <!--end::Products-->
                                    <!--begin::Subtotal-->
                                    <tr>
                                        <td colspan="4" class="text-end">Subtotal</td>
                                        <td class="text-end">$264.00</td>
                                    </tr>
                                    <!--end::Subtotal-->
                                    <!--begin::VAT-->
                                    <tr>
                                        <td colspan="4" class="text-end">VAT (0%)</td>
                                        <td class="text-end">$0.00</td>
                                    </tr>
                                    <!--end::VAT-->
                                    <!--begin::Shipping-->
                                    <tr>
                                        <td colspan="4" class="text-end">Shipping Rate</td>
                                        <td class="text-end">$5.00</td>
                                    </tr>
                                    <!--end::Shipping-->
                                    <!--begin::Grand total-->
                                    <tr>
                                        <td colspan="4" class="fs-3 text-dark text-end">Grand Total</td>
                                        <td class="text-dark fs-3 fw-bolder text-end">$269.00</td>
                                    </tr>
                                    <!--end::Grand total-->
                                </tbody>
                                <!--end::Table head-->
                            </table>
                            <!--end::Table-->
                        </div>
                    </div>
                    <!--end::Card body-->
                </div>
                <!--end::Product List-->
            </div>
            <!--end::Orders-->
        </div>
        <!--end::Tab pane-->

    </div>
    <!--end::Tab content-->
</div>